# Gradle
.gradle/
build/
bin/

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# Runtime
run/
logs/

# OS
Thumbs.db
.DS_Store

# Work files
disconnect/
texture_extract/
*.ps1

# Jar files in root
/*.jar
